
header{
	background-image:  url(../img/back5.jpg);
    margin-left: 100px;
	margin-right: 100px;
	padding: 1px;

}
h1{
	font-family: Arial;
	font-size: 55px;
	text-align: center;
	padding:10px;
	color: #FF4500;
	background-color: #808080; 
    margin-top: 40px;
}
h2{
	font-family: Arial;
	font-size: 35px;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	color: #FF7F50;
	background-color: #808080;
	margin-top: 40px;
}
#rd{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
}

p{
	padding-left: 200px;
	padding-right: 200px;
	font-family: Arial;
	text-align: justify;
   
  
    font-size: 30PX;
}
figure{
	margin-left: 200px;
	margin-right: 200px;
}

footer{
	margin-left: 100px;
	margin-right: 100px;
	padding: 25px;
	background-color: #FFC0CB;
	color: #808080;
	
}